.flex {
display: flex;
justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.main-font {
  font-family: 'Fjalla One', sans-serif;
}

.gutter {
  padding: 40px;
}

.about-image {
  width: 400px;
  height: 400px;
  margin: 200px 0 100px 0;
  border: 3px solid white;
}

body {
background-color: #bcbbaf;
}

.about-title{
  position: static;
  top: 120px;
  right: 580px;
  font-size: 80px;
  padding: 10px;
}

hr {
  border-bottom: 5px solid black;
}

.instruction-title{
  font-size: 20px;
  margin-left: 200px;
  margin-top: 100px;
}

.about-section-title {
  font-size: 30px;
  margin-right: 60px;
  margin-top: 50px;
  width: 400px;
}


.about-para-style {
padding: 20px;
list-style-type: none;
border: 3px solid white;
margin: 30px;
font-size: 20px
}

footer{
  margin-right: 200px;
  margin-left: 200px;
}
.contact{
  border: 3px solid white;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
}

#user-email{
  padding: 10px;
  margin-left: 40px;
}

#submit{
  margin-left: 15px;
  padding: 10px;
}
