.flex {
display: flex;
justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.main-font {
  font-family: 'Fjalla One', sans-serif;
}

.gutter {
  padding: 40px;
}

.about-image {
  width: 400px;
  height: 400px;
  margin: 200px 0 100px 0;
  border: 3px solid white;
}

.header-name {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: .5em;

}

body {
background-color: #bcbbaf;
}

.about-title{
  position: static;
  top: 120px;
  right: 580px;
  font-size: 80px;
  padding: 10px;
}

hr {
  border-bottom: 5px solid black;
}

.instruction-title{
  font-size: 20px;
  margin-left: 200px;
  margin-top: 100px;
}

.about-section-title {
  font-size: 30px;
  margin-right: 60px;
  margin-top: 50px;
  width: 400px;
}

.about-para-style {
padding: 20px;
list-style-type: none;
border: 3px solid white;
margin: 30px;
font-size: 20px
}

footer{
  margin-right: 200px;
  margin-left: 200px;
}
.contact{
  border: 3px solid white;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
}

#user-email{
  padding: 10px;
  margin-left: 40px;
}

#submit{
  margin-left: 15px;
  padding: 10px;
}

.media-list li{
list-style: none;
padding: 10px;
}

.fb-style{

  margin-top: 9px;
  margin-right: 5px;
}

.insta-style{
  margin-top: 3px;
  margin-left: 5px;
}


/*MEDIA QUERIES BEGIN*/

@media screen and (max-width: 700px){
.flex {
   display: block;
   justify-content: center;
  }

.flex-column{
    display: block;
    flex-direction: column;
  }

.header-name {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: .5em;
    text-align: center;
    line-height: 50px;

  }

.about-image {
    width: 300px;
    height: 300px;
    margin: 100px 0 100px 0;
    border: 3px solid white;
  }

.about-title{
    top: 120px;
    right: 600px;
    font-size: 60px;
    padding: 20px;
    margin-top: 0;

  }

.instruction-title{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 100px;
  }

.about-section-title {
    font-size: 30px;
    margin-right: 60px;
    margin-top: 50px;
    width: 300px;
  }


.about-para-style {
   padding: 20px;
   list-style-type: none;
   border: 3px solid white;
   margin: 30px;
   font-size: 20px
  }

footer {
    margin-right: 100px;
    margin-left: 30px;

  }

.contact{
    border: 3px solid white;
    padding: 20px;
    margin-top: 70px;
    width: 200px;
  }

.media-style{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: flex-start;
}

#user-email{
    padding: 10px;
    text-align: center;
    margin: 20px 0 0 0;
  }

#submit{
    margin-top: 20px;
    padding: 10px;
  }

.media-list li{
  list-style: none;

  margin-left: 50px;
  margin-top: 20px;
  }

.fb-image{
  margin-left: 20px;

}


}
